
.globalBar {
	display: block;
	width: 100%;
	margin-top: 3px;
	padding-bottom: 2px;	
}

.globalUser {
	position: absolute;
	right: 0;
}

.toolbar {
	background-color: silver;
	border-top: 1px solid gray;
	padding: 3px;
}

.menuPanel {
	border-right: 2px solid silver;
	margin-right: 16px;
}

.menuPanel ul {	
	margin:0;
	padding:0 0 0 0.5em;
	list-style-type: none;
}

.menuPanel ul li {
	line-height: 1.5em;
	padding-left: 0.5em;
}

.menuItemSelected {
	background-color: silver;
	-moz-border-radius-bottomleft:4px;
	-moz-border-radius-topleft:4px;
	color:#000000;
	display:block;
	font-weight:bold;
	margin-right:-1px;
	padding-left: 0.5em;
}

.menuItem {
	padding-left: 0.5em;
}


